<section>
    <div>
        <p>Hai, {{name}}</p>
        <hr>
        <button class="btn right" (click)="reloadData()">Perbarui data</button>
    </div>
    <div *ngFor="let item of this.list">
        <div class="list-item">
            <table width="100%">
                <tr>
                    <td width="10%">
                        <ngx-avatar size="40" name="{{item.user}}"></ngx-avatar>
                    </td>
                    <td width="40%">{{item.user.toLocaleUpperCase()}}</td>
                    <td width="30%" align="right">
                        <button class="btn" (click)="colek(item.user)">Colek</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>